@import (less) "../../core/less/bullet-core.less";

@bulletNameSpace: grouped-bullet-chart-plugin;

.@{bulletNameSpace} {
  .axis-wrapper path {
      display: none;
  }
  .chart-wrapper {
    overflow: hidden;
  }
}
